body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f9ff;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #0078d7;
  color: white;
  text-align: center;
  font-size: 50px
  padding: 2rem 1rem;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #0078d7;
}

ul {
  list-style-type: square;
  margin-left: 1.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #777;
}
